#searchResult table {
	width: 100%;
} 

#searchResult table td, #searchResult table th{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#searchResult .title {
	font-weight: bold;
}

#searchResult .message {
	font-weight: bold;
	color: red;
	padding:10px;
}

label {
	font-weight: bold;
}

div#movieList {
	margin-top: 2em;
} 
#movieList .title {
	width: 30%;
	font-weight: bold;
	border-bottom: 1px black solid;
	vertical-align: top; 
	padding-bottom: 1em;
}

#movieList .release {
	width: 10%;
	font-style: italic;
	border-bottom: 1px black solid; 
	vertical-align: top; 
	padding-bottom: 1em;
}

#movieList .plot {
	width: 60%;
	border-bottom: 1px black solid; 
	vertical-align: top; 
	padding-bottom: 1em;
}
